@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Indie+Flower&display=swap');

.App {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  background-color: rgb(255, 255, 255);
}

.logo-img {
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px solid rgb(247, 180, 208);
  border-radius: 100px;
}

.welcome {
  color: rgb(116, 80, 80);
}

.navbar {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  flex-grow: 1;
  padding: 35px;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7274560.jpg&f=1&nofb=1');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 85%;
  box-shadow: 25px 12px rgb(97, 76, 76);
  max-width: 100%;
}

.link {
  margin-right: 70px;
  font-size: 35px;
  text-decoration: none;
  font-family: 'comfortaa';
  text-shadow: 3.7px 2.3px rgb(107, 84, 106);
  color:rgb(255, 255, 255);
}

.link:last-child {
  margin-left: 920px;
}

a:hover {
  color:rgb(54, 47, 47);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-waifu, .btn-gift {
  background-color: rgb(252, 213, 213);
  font-family: 'comfortaa';
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.intro {
  display: flex;
  margin: 30px;
  min-height: 300px;
}

.home-intro {
  border-radius: 5px;
  height: 30%;
  border: 1px solid rgb(218, 213, 213);
  margin-left: 33%;
  margin-right: 5%;
  margin-top: 60px;
  color: rgb(107, 72, 72);
  font-family: 'indie flower';
  font-size: 20px
}

.layout {
  height: 423.5px;
  border: 1px solid rgb(202, 185, 185);
  background-image: url('https://orig00.deviantart.net/48f0/f/2014/086/5/e/anime___random_anime_girl_2_render__png__by_orihimeyuuka-d7bszp6.png');
  background-repeat: no-repeat;
  background-position: left -215px;
}

.btns-wg {
  display: flex;
  margin: 100px;
  margin-left: 10px;
  width: 10%;
  height: 10%;
  flex-direction: column;
  box-sizing: border-box;
}

.btn {
  max-width: 300px;
}

.btn-waifu:hover, .btn-gift:hover {
  background-color: rgb(255, 172, 188);
  color: white;
  border: 1px solid rgb(255, 202, 202);
}


@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    background-color: rgb(255, 255, 255);
  }

  .logo-img {
    width: 135px;
    height: 135px;
    margin: 5px;
    border: 1px solid rgb(247, 180, 208);
    border-radius: 100px;
  }

  h1 {
    color: black;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    flex-grow: 1;
    padding: 35px;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7274560.jpg&f=1&nofb=1');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 85%;
    box-shadow: 25px 12px rgb(97, 76, 76);
    max-width: 100%;
  }

  .link {
    margin-right: 20px;
    font-size: 13px;
    text-decoration: none;
    font-family: 'comfortaa';
    text-shadow: 3.7px 2.3px rgb(107, 84, 106);
    color:rgb(255, 255, 255);
  }

  .link:last-child {
    margin-left: 100px;
  }

  a:hover {
    color:rgb(54, 47, 47);
  }

}

