.App {
  text-align: center;
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 1px solid black;
}
 
h1 {
  color: black;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  border: 1px solid black;
  
}

.link {
  margin: 0px 130px 0px 20px;
}